<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}/assets/profile.jpg" alt="Profile Picture" class="profile-pic">
      <h1>
        <a href="{{ site.baseurl }}">
          Nitin Gupta
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      <a class="sidebar-nav-item{% if page.title == "Projects" %} active{% endif %}" href="{{ site.baseurl }}/files/projects">Projects</a>
      
      <a class="sidebar-nav-item{% if page.title == "Publications" %} active{% endif %}" href="{{ site.baseurl }}/files/publications">Publications</a>

      <a class="sidebar-nav-item{% if page.title == "Experience" %} active{% endif %}" href="{{ site.baseurl }}/files/experience">Experience</a>
      
      <a class="sidebar-nav-item{% if page.title == "About" %} active{% endif %}" href="{{ site.baseurl }}/files/about">About</a>

      <a class="sidebar-nav-item" href="https://g-nitin.github.io/portfolio/assets/Nitin_Gupta_Résumé.pdf" target="_blank"><i class="fas fa-file-pdf"></i> Résumé (PDF)</a>
    </nav>

    <div class="sidebar-social">
      <a href="https://www.linkedin.com/in/niting9" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/g-nitin" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://scholar.google.com/citations?user=xD_6EHoAAAAJ&hl=en" target="_blank"><i class="fab fa-google"></i></a>
      <a href="mailto:niting1209@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</div>